<!DOCTYPE html>
{% extends 'base.html' %} {% block content %}
<!-- Carousel -->
<div id="indexCarousel" class="carousel slide" data-ride="carousel">
  <!-- Carousel Slide Wrapper -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div
        class="fill"
        style="background-image: url('{{ MEDIA_URL }}/images/slide-background.jpg');"
      ></div>

      <div class="carousel-caption d-none d-md-block w-100">
        <h5>Account Benefits</h5>
        <p>Why create an account with us?</p>
      </div>
    </div>
    <div class="carousel-item">
      <div
        class="fill"
        style="
          background-image: url('{{ MEDIA_URL }}/images/slide-background.jpg');
        "
      ></div>

      <div class="carousel-caption d-none d-md-block w-100">
        <h5>How it Works</h5>
        <p>How does this work?</p>
      </div>
    </div>
    <div class="carousel-item">
      <div
        class="fill"
        style="
          background-image: url('{{ MEDIA_URL }}/images/slide-background.jpg');
        "
      ></div>

      <div class="carousel-caption d-none d-md-block w-100">
        <h5>Products</h5>
        <p>See all of our products</p>
      </div>
    </div>
  </div>
</div>

<div id="products" class="row row-flex">
  <h5>Products display area</h5>

  {% for product in products %}

  <div
    class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-6 display panel panel-default"
  >
    <div class="panel-body">
      <div class="col-md-12 product-view">
        <img src="{{ MEDIA_URL }}{{ product.image }}" />
      </div>
      <h5>{{ product.product_name }}</h5>
      <p class="product-description">{{ product.description }}</p>
      {% if user.is_authenticated %}
      <p><b>Price:</b> {{ product.price }}</p>
      {% else %}
      <p class="important"><b>Log in to see prices</b></p>
      {% endif %}
      <p><b>Rating:</b> {{ product.rating }}<strong>/10</strong></p>

      {% if user.is_authenticated %}
      <form method="POST" action="{% url 'add_to_cart' product.id %}">
        {% csrf_token %}
        <div class="input-group panel-input">
          <input
            name="quantity"
            type="number"
            min="1"
            max="999"
            class="form-control"
            placeholder="Qty"
          />
          <span class="input-group-btn">
            <button class="btn btn-success" type="submit">
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
              Add
            </button>
          </span>
        </div>
      </form>
      {% endif %}
      <div class="more-info">
        <p>
          <a href="{% url 'view_product' product.id %}" class="btn btn-primary"
            ><span
              class="glyphicon glyphicon-info-sign"
              aria-hidden="true"
            ></span>
            More Details</a
          >
        </p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
<div class="row">
  {% if user.is_authenticated %}
  <p>
    Click here to see all of our product range
  </p>
  <p>
    <a href="{% url 'products' %}" class="btn btn-success"
      ><span class="glyphicon glyphicon-th" aria-hidden="true"></span> All
      Products</a
    >
  </p>

  {% else %}
  <p>
    Please create an account or log in to see more products
  </p>
  <p>
    <a href="{% url 'register' %}" class="btn btn-primary">Sign Up</a>
    <a href="{% url 'login' %}" class="btn btn-success">Log In</a>
  </p>
  {% endif %}
</div>
{% endblock %}
