# Wireframes

## Accounts App
![Accounts App Test Results](static/testing_results/accounts_app_test_report.png "Results overview for the Accounts app for Magical Deals")

## Cart App
![Cart App Test Results](static/testing_results/cart_app_test_report.png "Results overview for the Cart app for Magical Deals")

## Checkout App 
![Checkout App Test Results](static/testing_results/checkout_app_test_report.png "Results overview for the Checkout app for Magical Deals")

## Home App 
![Home App Test Results](static/testing_results/home_app_test_report.png "Results overview for the Home app for Magical Deals")

## Products App 
![Products App Test Results](static/testing_results/products_app_test_report.png "Results overview for the Products app for Magical Deals")

## Review App 
![Review App Test Results](static/testing_results/review_app_test_report.png "Results overview for the Review app for Magical Deals")

## Search App
![Search App Test Results](static/testing_results/search_app_test_report.png "Results overview for the Search app for Magical Deals")
