<!DOCTYPE html>
{% extends "base.html" %} {% block content %}
<div class="row">
  <div class="col-12 header-title">
    <h2>Password Reset</h2>
    <h5>Step 1 - Recovery Email</h5>
    <hr>
  </div>
</div>
<div class="row">
    <div class="col-12">
        <p>
        Please specify your email address to receive instructions for resetting
        it.
        </p>
        <form method="post" class="accountform">
            <div style="display: none;">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken" />
            </div>
            {{ form.email.errors }}
            <p>
                <label for="id_email" class="control-label required-field"
                >E-mail address:</label
                >
                {{ form.email }}
            </p>
            <p>
                <button class="btn btn-success" type="submit"><i class="fa fa-email" aria-hidden="true"></i> Reset Password</button>
                <a href="/" class="btn btn-primary"><i class="fa fa-home" aria-hidden="true"></i> Back</a>
            </p>
        </form>
    </div>
</div>




{% endblock %}
