<!DOCTYPE html>
{% extends "base.html" %} {% block content %}
<div class="row">
  <div class="col-12 header-title">
    <h2>Password Reset</h2>
    <h5>Step 1 - Recovery Email</h5>
    <p>
      Please specify your email address to receive instructions for resetting
      it.
    </p>
  </div>
</div>
<form method="post" class="accountform">
  <br />
  <div style="display: none;">
    <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken" />
  </div>
  {{ form.email.errors }}
  <p>
    <label for="id_email" class="control-label required-field"
      >E-mail address:</label
    >
    {{ form.email }}
    <input type="submit" class="btn btn-primary" value="Reset password" />
  </p>
</form>
{% endblock %}
