<!DOCTYPE html>
{% extends "base.html" %} {% load bootstrap_tags %} {% block content %}

<div class="row">
	<div class="col-12 header-title">
		<h2>Create New Product</h2>
		<p>
			<ul class="important">
				<li>Fill out all fields.</li>
				<li>Add an appealing description to help build buyers interest.</li>
				<li>Image is mandatory, please ensure to use a square image.</li>
			</ul>
		</p>
	</div>
</div>

<form method="post" action="{% url 'add_product' %}" class="addProductForm" enctype="multipart/form-data">
	<fieldset class="form-group">
		{% csrf_token %} {{ add_form | as_bootstrap }}
		<button type="submit" class="btn btn-success"><i class="fa fa-plus" aria-hidden="true"></i> Create Product</button>
        <a href="{% url 'products' %}" class="btn btn-primary"><i class="fa fa-th" aria-hidden="true"></i> All Products</a>
	</fieldset>
</form>
{% endblock %}