<!DOCTYPE html>
{% extends 'base.html' %} {% load staticfiles %} {% block content %}
<div class="row">
    <div class="col-12 header-title">
        <h3>All Products</h3>
        <a href="{% url 'add_product' %}" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Add New Product</a>
    </div>
</div>
<div class="col-md-12 card search-card">
    <div class="card-header">
        <h5 class="card-title">Product Search</h5>
    </div>
    <div class="card-body">
        <p class="card-text">
            Enter details below to find the Magical Deal you are looking for!
        </p>
        <div class="display">
            <form action="{% url 'search' %}" method="get">
                <p><input type="text" name="q" class="search-input" required /></p>
                <p>
                    <button type="submit" class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i> Search</button>
                    <a href="{% url 'products' %}" class="btn btn-primary"><i class="fa fa-th" aria-hidden="true"></i> All Products</a>
                </p>
            </form>
        </div>
    </div>
</div>
<div class="row row-flex">
  {% for product in products %}
  <div class="col-xs-10 col-xs-offset-1 col-md-6 display panel panel-default row-flex">
    <div class="panel-body">
        <div class="card-header panel-content">
            <h5>{{ product.product_name }}</h5>
        </div>
        <div class="product-view">
            <img src="{{ MEDIA_URL }}{{ product.image }}" />
        </div>
        <div class="panel-content">
            
            <p class="product-description">{{ product.description }}</p>
            {% if user.is_authenticated %}
            <p><b>Price:</b> {{ product.price }}</p>
            {% else %}
            <p class="important"><b>Log in to see prices</b></p>
            {% endif %}
            <p><b>Rating:</b> {{ product.rating }}/10 </p>
            <p>
            {% with ''|center:product.rating as range %}
                {% for _ in range %}
                    <span class="fa fa-star checked"></span>
                {% endfor %}
            {% endwith %}
            </p>
        
        {% if user.is_authenticated %}
        <form method="POST" action="{% url 'add_to_cart' product.id %}">
            {% csrf_token %}
            <div class="input-group panel-input">
            <input
                name="quantity"
                type="number"
                min="1"
                max="999"
                class="form-control"
                placeholder="Qty"
                required
            />
            <span class="input-group-btn">
                <button class="btn btn-success" type="submit"><i class="fa fa-plus" aria-hidden="true"></i> Add</button>
            </span>
            </div>
        </form>
        {% endif %}
      </div>
      
      <div class="more-info card-footer">
        <p>
          <a href="{% url 'view_product' product.id %}" class="btn btn-primary"><i class="fa fa-info-circle" aria-hidden="true"></i> More Details</a>
        </p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
