<!DOCTYPE html>
{% extends 'base.html' %} {% load staticfiles %} {% block content %}
<div class="row row-flex">
	<div class="row">
		<div class="col-12">
			<p>
				<h3>{{ product.product_name }}</h3>
			</p>
			<p>
				<a href="{% url 'delete_product' product.id %}" class="btn btn-danger"><span
                    class="glyphicon glyphicon-trash"
                    aria-hidden="true"
                  ></span> Delete</a>
				<a href="{% url 'edit_product' product.id %}" class="btn btn-primary"><span
                    class="glyphicon glyphicon-wrench"
                    aria-hidden="true"
                  ></span> Edit</a>
			</p>

		</div>
	</div>
</div>

<div class="card mb-3 item-view">
	<div class="row no-gutters">
		<div class="col-md-12 product-view"> 
            <img src="{{ MEDIA_URL }}{{ product.image }}"> 
      </div>
		<div class="col-md-8">
			<div class="card-body">
				<h6 class="card-title">Description</h6>
				<p class="card-text">{{ product.description }}</p>
				<p class="card-text">
					<p><b>Rating:</b> {{ product.rating }}/10</p>
					<p><b>Price:</b> €{{ product.price }}</p>
				</p>
				{% if user.is_authenticated %}
				<p class="card-text">
					<form method="POST" action="{% url 'add_to_cart' product.id %}">
						{% csrf_token %}
						<input
            name="quantity"
            type="number"
            min="1"
            max="999"
            class="form-control qty-input"
            placeholder="Qty"
          />
						<span class="input-group-btn">
                <button class="btn btn-success" type="submit"><span
                    class="glyphicon glyphicon-shopping-cart"
                    aria-hidden="true"
                  ></span> Add to Basket</button>
            </span>
					</form>
				</p>
				{% else %}
				<p class="important">
					<b>Create an account or log in to add to basket</b>
				</p>
				<p>
					<a href="{% url 'register' %}" class="btn btn-primary"><span
                    class="glyphicon glyphicon-plus"
                    aria-hidden="true"
                  ></span> Sign Up</a>
					<a href="{% url 'login' %}" class="btn btn-success"><span
                    class="glyphicon glyphicon-log-in"
                    aria-hidden="true"
                  ></span> Log In</a>
				</p>
				{% endif %}
			</div>
		</div>
	</div>
</div>

{% endblock %}