<!DOCTYPE html>
{% extends 'base.html' %} {% load staticfiles %} {% block content %}


<div class="card mb-3 test">
    <div class="card-header product-full-view">
        <h2 class="card-title">{{ product.product_name }}
        {% if user.is_authenticated %}
        <a href="{% url 'products' %}" class="btn btn-primary"><i class="fa fa-th" aria-hidden="true"></i> All Products</a>
        {% endif %}
        </h2>
    </div>
	<div class="row no-gutters">
        
		<div class="col-md-12 full-product-view"> 
            <img src="{{ MEDIA_URL }}{{ product.image }}"> 
      </div>
		<div class="col-md-8">
			<div class="card-body">
				<h6 class="card-title"><b>Product Description</b></h6>
				<p class="card-text">{{ product.description }}</p>
				<p class="card-text">
					<p><b>Rating:</b> {{ product.rating }}/10</p>
                    
                    <p>
                    {% with ''|center:product.rating as range %}
                    {% for _ in range %}
                        <span class="fa fa-star checked"></span>
                    {% endfor %}
                    {% endwith %}
                    </p>

					
				</p>
                {% if user.is_authenticated %}
                <p><b>Price:</b> €{{ product.price }}</p>
				
				<p class="card-text">
					<form method="POST" action="{% url 'add_to_cart' product.id %}">
						{% csrf_token %}
						<input
            name="quantity"
            type="number"
            min="1"
            max="999"
            class="form-control qty-input"
            placeholder="Qty"
            required
          />
						<span class="input-group-btn">
                <button class="btn btn-success" type="submit"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to Basket</button>
            </span>

					</form>
				</p>
            {% if user.usercreate.staff == True %}    
            <p>
				<a href="{% url 'edit_product' product.id %}" class="btn btn-primary"><i class="fa fa-wrench" aria-hidden="true"></i> Edit</a>
                <a href="{% url 'delete_product' product.id %}" class="btn btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</a>
			</p>
            {% endif %}
				{% else %}
				<p class="important">
					Create an account or log in to see prices and purchase this item
				</p>
				<p>
					<a href="{% url 'register' %}" class="btn btn-primary"><i class="fa fa-user-plus" aria-hidden="true"></i> Sign Up</a>
					<a href="{% url 'login' %}" class="btn btn-success"><i class="fa fa-sign-in" aria-hidden="true"></i> Log In</a>
				</p>
				{% endif %}
			</div>
		</div>
	</div>
</div>
<div class="view-review">
    <h4>Reviews</h4>
    <hr>   
    <p><a href="{% url 'add_review' product.id %}" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Add Review</a></p>
    {% if reviews.count > 0 %}
        {% for review in reviews %}
            <div class="card review-cards">
                <h5 class="card-header">
                    <p><strong>Review Rating: </strong>{{ review.rating }}/10 </p>
                    <p>
                    {% with ''|center:review.rating as range %}
                        {% for _ in range %}
                            <span class="fa fa-star checked review-star"></span>
                        {% endfor %}
                    {% endwith %}
                    </p>
                </h5>
                <div class="card-body">
                    <h5 class="card-title">{{ review.product.product_name }} </h5>
                    
                    <p><strong>Reviewed by: </strong>{{ review.user.username }}</p>
                    <hr>  
                    <h5 class="card-title"><strong>Description: </strong></h5>
                    <p class="card-text">{{ review.description }}</p>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="card review-cards">
            <h5 class="card-header">No reviews yet</h5>
            <div class="card-body">Be our first!</div>
        </div>
    {% endif %}
</div>
{% endblock %}