<!DOCTYPE html>
{% extends 'base.html' %} {% load staticfiles %} {% block content %}
<div class="row row-flex">
	<div class="row">
		<div class="col-12 header-title">
			<p>
				<h3>{{ product.product_name }}</h3>
			</p>
            {% if user.is_authenticated %}
            <p>
            <a href="{% url 'products' %}" class="btn btn-primary"><i class="fa fa-th" aria-hidden="true"></i> All Products</a>
            </p>
            {% endif %}
            
		</div>
	</div>
</div>

<div class="card mb-3 ">
	<div class="row no-gutters">
		<div class="col-md-12 full-product-view"> 
            <img src="{{ MEDIA_URL }}{{ product.image }}"> 
      </div>
		<div class="col-md-8">
			<div class="card-body">
				<h6 class="card-title"><b>Product Description</b></h6>
				<p class="card-text">{{ product.description }}</p>
				<p class="card-text">
					<p><b>Rating:</b> {{ product.rating }}/10</p>
                    
                    <p>
                    {% with ''|center:product.rating as range %}
                    {% for _ in range %}
                        <span class="fa fa-star checked"></span>
                    {% endfor %}
                    {% endwith %}
                    </p>

					<p><b>Price:</b> €{{ product.price }}</p>
				</p>
				{% if user.is_authenticated %}
				<p class="card-text">
					<form method="POST" action="{% url 'add_to_cart' product.id %}">
						{% csrf_token %}
						<input
            name="quantity"
            type="number"
            min="1"
            max="999"
            class="form-control qty-input"
            placeholder="Qty"
            required
          />
						<span class="input-group-btn">
                <button class="btn btn-success" type="submit"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to Basket</button>
            </span>

					</form>
				</p>
                
            <p>
				<a href="{% url 'edit_product' product.id %}" class="btn btn-primary"><i class="fa fa-wrench" aria-hidden="true"></i> Edit</a>
                <a href="{% url 'delete_product' product.id %}" class="btn btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</a>
			</p>
            
				{% else %}
				<p class="important">
					<b>Create an account or log in to add to basket</b>
				</p>
				<p>
					<a href="{% url 'register' %}" class="btn btn-primary"><i class="fa fa-user-plus" aria-hidden="true"></i> Sign Up</a>
					<a href="{% url 'login' %}" class="btn btn-success"><i class="fa fa-sign-in" aria-hidden="true"></i> Log In</a>
				</p>
				{% endif %}
			</div>
		</div>
	</div>
</div>
<div class="review">
    <h4>Reviews</h4>
    <a href="{% url 'add_review' product.id %}" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Add Review</a> 
    {% for review in reviews %}
        <div class="card">
            <h5 class="card-header">{{ review.product.product_name }}</h5>
            <div class="card-body">
                <h5 class="card-title"><strong>Review Rating: </strong>{{ review.rating }}/10</h5>
                {% with ''|center:review.rating as range %}
                    <p>
                    {% for _ in range %}
                        <span class="fa fa-star checked"></span>
                    {% endfor %}
                    </p>
                {% endwith %}
                <p><strong>Reviewed by: </strong>{{ review.user.username }}</p>
                <hr>  
                <h5 class="card-title"><strong>Description: </strong></h5>
                <p class="card-text">{{ review.description }}</p>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}