body {
  font-family: Arial;
  padding-top: 50px;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  padding-top: 20px;
}

footer {
  margin-top: 40px;
  padding-top: 40px;
  border-top: 1px solid #ededed;
  color: #a9a9a9;
}

.icon-bar {
  background-color: #fff;
}

.accountform {
  padding-top: 20px;
}

.page-footer {
  background-color: #40ace9;
}

.carousel {
  border: solid;
  border-color: black;
}

/*..........................panel*/

.product {
  height: 150px;
  max-width: 300px;
  margin: auto;
}

.panel-body {
  border: 1px solid #dddddd;
}

.panel-default {
  border-color: transparent;
}

.panel {
  -webkit-box-shadow: 0 1px 1px transparent;
}

.panel-input input {
  max-width: 50%;
  padding-left: 15px;
  left: 10%;
}
.panel-input button {
  right: 80%;
}

.important b {
  color: red;
}
/*..........................................Media Queries*/

@media (max-width: 767px) {
  .navbar-collapse {
    background-color: #1995dc;
  }
  .panel-input button {
    right: 25%;
  }
}
