/*..........................Miscellaneous*/

body {
  font-family: Arial;
  padding-top: 50px;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  padding-top: 20px;
}

footer {
  margin-top: 40px;
  padding-top: 40px;
  border-top: 1px solid #ededed;
  color: #a9a9a9;
}

.icon-bar {
  background-color: #fff;
}

.accountform {
  padding-top: 20px;
}

.page-footer {
  background-color: #40ace9;
}

.important {
  color: #ff0000;
  font-weight: bold;
}

/*..........................Carousel*/

.carousel-inner {
  height: 100%;
  padding-top: 50px;
  width: 100%;
}

.carousel-item {
  width: 200px;
  height: 400px;
}

.carousel-item .fill {
  height: 300px;
  width: 300px;
  background-position: center;
  background-size: cover;
}

.carousel-caption {
  width: 100%;
  top: 66%;
  text-align: left;
}

.carousel-caption h5 {
  color: white;
}

.carousel-indicators {
  margin-left: -26%;
}

/*..........................Card*/

.product-view {
  height: 150px;
  max-width: 300px;
  margin: auto;
}

.profile-view {
  max-height: 300px;
  max-width: 400px;
  width: 100%;
  margin: auto;
}

/*..........................Panel*/

.product {
  height: 150px;
  max-width: 300px;
  margin: auto;
}

.panel-body {
  border: 1px solid #dddddd;
}

.panel-default {
  border-color: transparent;
}

.panel {
  -webkit-box-shadow: 0 1px 1px transparent;
}

.panel-input input {
  max-width: 50%;
  padding-left: 15px;
  left: 10%;
}
.panel-input button {
  right: 80%;
}

.important b {
  color: red;
}

.qty-input {
  max-width: 100px;
}

.item-view {
  margin-right: auto;
  margin-left: auto;
  max-width: 90%;
}
/*..........................................Media Queries*/

@media (max-width: 767px) {
  /*..........................Media Queries - Navbar*/

  .navbar-collapse {
    background-color: #1995dc;
  }

  /*..........................Media Queries - Panel*/

  .panel-input button {
    right: 25%;
  }
  /*..........................Media Queries - Carousel*/

  .carousel-item .fill {
    height: 100%;
    width: 100%;
  }
  .carousel-caption {
    width: 79%;
    top: 37%;
    font-size: 11px;
  }
  .carousel-caption h5 {
    font-size: 17px;
    font-weight: bold;
  }
  .carousel-indicators {
    margin-left: -29%;
    bottom: 15px;
  }
  .carousel {
    height: 237px;
  }
}
