<!DOCTYPE html> {% extends "base.html" %} {% load static from staticfiles %}
<!-- load the bootstrap tags and the js needed for checkout to work -->
{% load bootstrap_tags %} {% block head_js %}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
  //<!CDATA[
  Stripe.publishableKey = "{{ publishable }}";
  //]]>
</script>
<script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>

{% endblock %} {% block content %}
<h3>Checkout</h3>
<p>Please review your order below and fill in the delivey & payment details.</p>
<p>
  When you have completed this and are happy with your order, click submit
  payment to finalise your order
</p>
<div class="row row-flex">
  <legend>Order Summary</legend>
  {% for item in cart_items %}
  <div
    class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display panel panel-default"
  >
    <div class="panel-body">
      <div class="caption">
        <h6>{{item.product.product_name}}</h6>
        <p><b>Quantity:</b> {{item.quantity}}</p>
        <p>
          <b>Price Each: </b>
          <span class="glyphicon glyphicon-euro" aria-hidden="true"></span>
          {{item.product.price}}
        </p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
<div class="row">
  <p>Order Total</p>
  <p>
    <span class="glyphicon glyphicon-euro" aria-hidden="true"></span>
    {{ total }}
  </p>
</div>

<form role="form" method="post" id="payment-form" action="{% url 'checkout' %}">
  {% csrf_token %}
  <div id="credit-card-errors" style="display: none;">
    <div
      class="alert-message block-message error"
      id="stripe-error-message"
    ></div>
  </div>
  <div class="form-group col-md-6">
    <legend>Delivery Details</legend>
    {{ order_form | as_bootstrap }}
  </div>
  <div class="form-group col-md-6">
    <legend>Payment Details</legend>
    {{ payment_form | as_bootstrap }}
    <input
      type="submit"
      class="btn btn-primary"
      id="submit_payment_btn"
      name="commit"
      value="Submit Payment"
    />
  </div>
</form>

{% endblock %}
