<!DOCTYPE html>
{% extends "base.html" %} {% load static from staticfiles %} {% load bootstrap_tags %} {% block head_js %}
<script type="text/javascript" scr="https://js.stripe.com/v2/"></script>
<script type="text/javascript" scr="">
	//<!CDATA[
    Stripe.publishableKey = '{{ publishable }}';
    //]]>
</script>
<script type="text/javascript" scr="{% static 'js/stripe.js' %}"></script>

{% endblock %}

{% block content %}
<div class="row row-flex">
	{% for item in cart_items %}
	<div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display panel panel-default">
		<div class="panel-body">
			<div class="product" style="background-image: url('{{ MEDIA_URL }}{{ item.product.image }}')"></div>
			<div class="caption">
				<h5>{{item.product.product_name}}</h5>
				<p>Quantity: {{item.quantity}}</p>
				<p>Price Each: {{item.product.price}}</p>
			</div>
		</div>
	</div>
	{% endfor %}
</div>
<div class="row">
	<p>Order Total</p>
	<p><span class="glyphicon glyphicon-euro" aria-hidden="true"></span> {{ total }}</p>
</div>

<form role="form" method="post" id="payment-form" action="{% url 'checkout' %}">

	<div id="credit-card-errors" style="display:none">
		<div class="alert-message block-message error" id="stripe-error-message"></div>
	</div>
	<div class="form-group col-md-6">
		<legend>Delivery Details</legend>
		{{ order_form | as_bootstrap }}
	</div>
	<div class="form-group col-md-6">
		<legend>Payment Details</legend>
		{{ payment_form | as_bootstrap }}
		<input type="submit" class="btn btn-primary" id="submit_payment_btn" name="commit" value="Submit Payment">
	</div>
		{% csrf_token %}


</form>

{% endblock %}