<!DOCTYPE html>
{% extends "base.html" %}
{% load bootstrap_tags %}
{% block content %}

<div class="row">
	<div class="col-12">
		<h3>Edit Your Details</h3>
		<p>Please fill in the fields below to tell us more about yourself!</p>
	</div>
</div>

<form method="post" action="{% url 'edit_user' %}" class="accountform" enctype="multipart/form-data">
	<fieldset class="form-group">
		{% csrf_token %}
		{{  user_form | as_bootstrap }}
		{{  profile_form | as_bootstrap }}
		<button type="submit" class="btn btn-primary">Update Account</button>
	</fieldset>
</form>
{% endblock %}