<!DOCTYPE html>
{% extends "base.html" %} {% block content %}


<div class="card mb-3 item-view profile-card">
	<div class="row no-gutters">
		<div class="col-md-4 ">
			{% if user.usercreate.profile_image %}
            <img src="{{ MEDIA_URL }}{{ user.usercreate.profile_image }}" class="profile-view">
            {% else %}
            <img src="{{ MEDIA_URL }}profile/profile_image_default.jpg" class="profile-view">
            {% endif %}
		</div>
        <div class="col-md-4">
            <div class="card-body">
                <h6 class="card-title"><strong>Details</strong></h6>
                <hr>
                <p class="card-text">
                    <ul>
                        <li><strong>Username: </strong>{{ user.username }}</li>
                        {% if user.first_name %}
                        <li><strong>Name: </strong>{{ user.first_name }}</li>
                        {% else %}
                        <li><strong>Name: </strong> N/A</li>
                        {% endif %}
                        {% if user.last_name %}
                        <li><strong>Surname: </strong> {{ user.last_name }}</li>
                        {% else %}
                        <li><strong>Surname: </strong> N/A</li>
                        {% endif %}
                        <li><strong>Email: </strong> {{ user.email }} </li>
                        {% if user.usercreate.phone %}
                        <li><strong>Phone: </strong> {{ user.usercreate.phone }}</li>
                        {% else %}
                        <li><strong>Phone: </strong> N/A</li>
                        {% endif %}
                    </ul>
                </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card-body">
                <h6 class="card-title"><strong>Address</strong></h6>
                <hr>
                <p class="card-text">
                    <ul>
                        {% if user.usercreate.address_line_one %}
                        <!--address_line_one is a manditory field in the account edit form-->
                        <li>{{ user.usercreate.address_line_one }}</li>
                        <li>{{ user.usercreate.address_line_two }}</li>
                        <li>{{ user.usercreate.address_line_three }}</li>
                        <li>{{ user.usercreate.city }}</li>
                        <li>{{ user.usercreate.postcode }}</li>
                        <li>{{ user.usercreate.country }}</li>
                        {% else %}
                        <li>N/A</li>
                        {% endif %}
                    </ul>
                </p>
            </div>
        </div>
	</div>
    <div class="row no-gutters">
        <div class="col-md-12">
            {% if user.usercreate.address_line_one %}
            <p></p>
            {% else %}
            <p class="important important-align">Please fill out your profile information</p>
            {% endif %}
            <p class="profile-btn">
                <a href="{% url 'edit_user' %}" class="btn btn-primary"><i class="fa fa-wrench" aria-hidden="true"></i> Edit Profile</a>
                <a href="{% url 'delete_user' %}" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i> Delete Profile</a>
            </p>
        </div>
	</div>
</div>

<div class="previous-order">
    <h4>Your Previously Ordered Items</h4>
    <hr>

    {% if orders.count > 0 %}
        {% for order in orders %}
        <div class="card review-cards">
            <h5 class="card-header">Order Date: {{ order.date }}</h5>
            <div class="card-body">
                <div class="row row-flex">
                
                {% for item in items %}
                    {% if item.order.id == order.id %}
                    <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 col-lg-3 display panel panel-default">
                        <div class="panel-body">
                            <div class="card-header panel-content">
                                <strong>{{ item.product.product_name }}</strong>
                            </div>
                            <div class="panel-content">
                                <p><strong>Price: <i class="fa fa-eur" aria-hidden="true"></i>{{ item.product.price }}</strong></p>
                                <a href="{% url 'view_product' item.product.id %}" class="btn btn-primary"><i class="fa fa-info-circle" aria-hidden="true"></i> View Product</a>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
                </div>
          
            </div>
        </div>
        {% endfor %}
    {% else %}
        <div class="card review-cards">
            <h5 class="card-header">No previous orders yet</h5>
            <div class="card-body">When you purchase your first products, they will be shown here for you. </div>
        </div>
    {% endif %}
</div>
<div class="prof-review">
    <h4>Your Reviews</h4>
    <hr>
    {% if reviews.count > 0 %}
        {% for review in reviews %}
            <div class="card review-cards">
                <h5 class="card-header">{{ review.product.product_name }}<a href="{% url 'view_product' review.product.id %}" class="btn btn-primary review-btn"><i class="fa fa-info-circle" aria-hidden="true"></i> View Product</a></h5>
                <div class="card-body">
                    <h5 class="card-title"><strong>Review Rating: </strong>{{ review.rating }}/10</h5>
                    {% with ''|center:review.rating as range %}
                        {% for _ in range %}
                            <span class="fa fa-star checked"></span>
                        {% endfor %}
                    {% endwith %}
                    <hr>  
                    <h5 class="card-title"><strong>Description: </strong></h5>
                    <p class="card-text">{{ review.description }}</p>
                    <a href="{% url 'edit_review' review.id %}" class="btn btn-primary"><i class="fa fa-wrench" aria-hidden="true"></i> Edit Review</a>
                    <a href="{% url 'delete_review' review.id %}" class="btn btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete Review</a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="card review-cards">
            <h5 class="card-header">No reviews yet</h5>
            <div class="card-body">Don't forget to review our products to help other members find Magical Deals of their own!</div>
        </div>
    {% endif %}
</div>
{% endblock %}