<!DOCTYPE html>
{% extends "base.html" %} {% block content %}
<h2>Welcome {{user.first_name}}</h2>
<p>
	You are logged in as {{ user.username }}
</p>

<div class="card mb-3 item-view">
	<div class="row no-gutters">
		<div class="col-md-4 ">
			<img src="{{ MEDIA_URL }}{{ user.usercreate.profile_image }}" class="profile-view">
		</div>
			<div class="col-md-4">
				<div class="card-body">
					<h6 class="card-title">Details</h6>
					<p class="card-text">
						<ul>
							<li>Name: {{ user.first_name }}</li>
							<li>Surname: {{ user.last_name }}</li>
							<li>Email: {{ user.email }} </li>
							<li>Phone: {{ user.usercreate.phone }}</li>
						</ul>
					</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card-body">
					<h6 class="card-title">Address</h6>
					<p class="card-text">
						<ul>
							<li>{{ user.usercreate.address_line_one }}</li>
							<li>{{ user.usercreate.address_line_two }}</li>
							<li>{{ user.usercreate.address_line_three }}</li>
							<li>{{ user.usercreate.city }}</li>
							<li>{{ user.usercreate.country }}</li>
							<li>{{ user.usercreate.postcode }}</li>
						</ul>
					</p>
					<p><a href="{% url 'edit_user' %}" class="btn btn-primary">Edit Profile</a></p>
				</div>
			</div>
		</div>
	</div>



	{% endblock %}