<!DOCTYPE html>
{% extends "base.html" %}
{% load bootstrap_tags %}
{% block content %}

<div class="row">
	<div class="col-12 header-title">
		<h2>Sign Up</h2>
        
		<p>
        <h5>Why Create an account?</h5> 
        <ul>
        <li>Get your very own profile</li>
        <li>See the prices of items</li>
        <li>Gain ability to purchase products</li>
        <li>Gain ability to review products</li>
        <li>See a history of purchased items in your profile</li>
        </ul>
        </p>
	</div>
</div>

<form method="post" action="{% url 'register' %}" class="accountform" enctype="multipart/form-data">
	<fieldset class="form-group">
		{% csrf_token %}
		{{  user_form | as_bootstrap }}
		<p><button type="submit" class="btn btn-primary"><i class="fa fa-user-plus" aria-hidden="true"></i> Create account</button></p> 
        <p>Already got an account? <a href="{% url 'login' %}">Sign In</a></p>
	</fieldset>
</form>
{% endblock %}