<!DOCTYPE html>
{% extends "base.html" %}
{% load bootstrap_tags %}
{% block content %}

<div class="row">
	<div class="col-12">
		<h3>Sign Up</h3>
		<p>Sign up content area</p>
	</div>
</div>

<form method="post" action="{% url 'register' %}" class="accountform" enctype="multipart/form-data">
	<fieldset class="form-group">
		<p>Already got an account? <a href="{% url 'login' %}">Sign In</a></p>
		{% csrf_token %}
		{{  user_form | as_bootstrap }}
		{{  user_form_addon | as_bootstrap }}
		<button type="submit" class="btn btn-primary">Create account</button>
	</fieldset>
</form>
{% endblock %}