<!DOCTYPE html>
{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block content %}

<div class="row row-flex">
	<div class="row">
		<div class="col-12">
			<h3>Shopping Cart</h3>
			<p>Review your items and when you are happy with your selections, click on checkout to continue</p>
		</div>
	</div>
	{% for item in cart_items %}
	<div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display panel panel-display">
		<div class="col-md-12 product-view">
        <img src="{{ MEDIA_URL }}{{ item.product.image }}" />
      </div>
		<div class="caption">
			<h5>{{ item.product.product_name }}</h5>
			<p><b>Price:</b> € {{ item.product.price }}</p>
			<p>
				<form class="form-inline" method="post" action="{% url 'adjust_cart' item.id %}">
					{% csrf_token %}
					<div class="form-group">
						<label for="exampleInputAmount" class="sr-only">New Quantity</label>
						<div class="input-group">
							<div class="input-group-addon">Qty</div>
							<input name="quantity" type="number" min="0" max="999" class="form-control">
							<div class="input-group-addon">{{ item.quantity }}</div>
						</div>
					</div>
					<button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Update</button>
				</form>
			</p>
		</div>
	</div>

	{% endfor%}

</div>
<div class="row">

	<p>
		<span>Total: </span>

		<span class="glyphicon glyphicon-euro" aria-hidden="true"></span> {{ total }}</p>
	<p>
		<a href="/" class="btn btn-success"
			role="button"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span> Checkout</a>
		<a href="{% url 'products' %}"
			class="btn btn-primary btn-sizing"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
			Continue Shopping</a>
	</p>

</div>

{% endblock %}