<!DOCTYPE html>
{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block content %}


<div class="row">
    <div class="col-12 header-title">
        <h2>Shopping Cart</h2>
        <p>Review your items and when you are happy with your selections, click on checkout to continue</p>
    </div>
</div>   
<div class="row row-flex">
{% for item in cart_items %}
<div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-6 display panel row-flex">
    <div class="panel-body">
        <div class="card-header panel-content">
            <h5>{{ item.product.product_name }}</h5>
        </div>
        <div class="panel-content">
            <div class="product-view">
                <img src="{{ MEDIA_URL }}{{ item.product.image }}" />
            </div>
            <p><b>Unit Price: </b><i class="fa fa-eur" aria-hidden="true"></i> {{ item.product.price }}</p>
            <p><strong>Current Quantity: </strong>{{ item.quantity }}</p>
            <form class="form-inline" method="post" action="{% url 'adjust_cart' item.id %}">
                {% csrf_token %}	
                <div class="input-group panel-input">
                    <div class="input-group-addon">Qty</div>
                    <input name="quantity" type="number" min="0" max="999" required class="form-control ">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-primary"><i class="fa fa-check" aria-hidden="true"></i> Update</button>
                    </span>
                </div>                          
            </form>
        </div>
    </div>
</div>
{% endfor%}
</div>
<div class="row cart-checkout">
    <div class="col-md-12 card cart-card ">
        <div class="card-header">
            <h5 class="card-title">Order Checkout</h5>
        </div>
        <div class="card-body">
            <p class="card-text">
                <span><b>Order Total: </b></span>
                <i class="fa fa-eur" aria-hidden="true"></i> {{ total }}
            </p>
            <div class="display">
                {% if product_count > 0 %}
                    <a href="{% url 'checkout' %}" class="btn btn-success" role="button"><i class="fa fa-credit-card-alt" aria-hidden="true"></i> Checkout</a>
                    <a href="{% url 'empty_cart' %}" class="btn btn-danger btn-sizing"><i class="fa fa-trash" aria-hidden="true"></i> Empty Cart</a>
                {% endif %}
                <a href="{% url 'products' %}" class="btn btn-primary btn-sizing"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Continue Shopping</a>             
            </div>
        </div>
    </div>
</div>

	{% endblock %}