<!DOCTYPE html>
{% extends "base.html" %} {% block content %}
<div class="row">
    <div class="col-12 header-title">
        <h2>All Reviews</h2>
    </div>
    <div class="col-12">
        <p>
        Below you can view all of the reviews that you have made for our Magical Deals.
        </p>
        <p>
            <a href="{% url 'profile' %}" class="btn btn-primary"><i class="fa fa-user-circle" aria-hidden="true"></i> Profile</a>
            <a href="{% url 'products' %}" class="btn btn-primary"><i class="fa fa-th" aria-hidden="true"></i> Continue Shopping</a>
        </p>
    </div>
</div>
<div class="prof-review">
    {% if reviews.count > 0 %}
        {% for review in reviews %}
            <div class="card review-cards">
                <h5 class="card-header">{{ review.product.product_name }}<a href="{% url 'view_product' review.product.id %}" class="btn btn-primary heading-btn"><i class="fa fa-info-circle" aria-hidden="true"></i> View Product</a></h5>
                <div class="card-body">
                    <h5 class="card-title"><strong>Review Rating: </strong>{{ review.rating }}/10</h5>
                    <!-- In order to display the correct number of stars to represent the rating, we create a range based on the review.rating and 
                    use a For loop to iterate through it and display a star each time-->
                    {% with ''|center:review.rating as range %}
                        {% for _ in range %}
                            <span class="fa fa-star checked"></span>
                        {% endfor %}
                    {% endwith %}
                    <hr>  
                    <h5 class="card-title"><strong>Description: </strong></h5>
                    <p class="card-text">{{ review.description }}</p>
                    <a href="{% url 'edit_review' review.id %}" class="btn btn-primary"><i class="fa fa-wrench" aria-hidden="true"></i> Edit Review</a>
                    <a href="{% url 'delete_review' review.id %}" class="btn btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete Review</a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="card review-cards">
            <h5 class="card-header">No reviews yet</h5>
            <div class="card-body">Don't forget to review our products to help other members find Magical Deals of their own!</div>
        </div>
    {% endif %}
</div>
{% endblock %}
